/* ----- fonts ----- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');
:root {
    --dark: #222222;
    --graphite: #444444;
    --yellow: #AF8131;
    --light-yellow: #d4ac67;
    --light: #EDF1FD;
}

/* ----- Ustawienia strony ----- */

body {
    background-color: var(--dark);
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* ----- main ----- */

#main {
    background-color: var(--dark);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 1330px;
    padding: 30px 50px;
    box-sizing: border-box;
    position: relative;
}

/* ----- nawigacja ----- */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Calibri, sans-serif;
    background-color: var(--graphite);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 50px;
    box-sizing: border-box;
    box-shadow: 2px 2px 12px var(--yellow);
    z-index: 1;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: var(--yellow);
    font-family: Poppins, sans-serif;
}

.menu {
    display: flex;
}

.menu li a {
    color: var(--yellow);
    padding: 10px 15px;
    font-size: 12px;
}

.active a, .menu li a:hover {
    background-color: var(--dark);
    color: var(--light) !important;
    transition: all ease 1s;
}

.lang {
    color: var(--yellow);
}

.name {
    font-family: calibri, sans-serif;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, - 50%);
}

.name p {
    color: var(--light-yellow);
}

.name h1 {
    font-family: Poppins, sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    color: var(--yellow);
}

.name h1 span {
    color: var(--yellow);
}

/* warning text */

.name h3 {
    font-family: Poppins, sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    color: red;
}

.cv-btn {
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark);
    border-radius: 25px;
    border: none;
    outline: none;
    width: 250px;
    height: 50px;
}

.cv-btn:hover {
    background-color: var(--light-yellow);
    transition: all ease 1s;
}

/* ----- arrow ----- */

body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

.arrow {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid var(--light);
    border-right: 5px solid var(--light);
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.social {
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.social a {
    margin: 0 15px;
    color: var(--yellow);
}

.social a:hover {
    color: var(--light);
    transition: all ease 1s;
}

/* ----- sekcja o mnie ----- */

#about {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    box-sizing: border-box;
    background-color: var(--dark);
}

.about-text {
    width: 50%;
    color: var(--light);
    font-family: Calibri, sans-serif;
}

.about-text h1 {
    color: var(--yellow);
    font-size: 5rem;
}

.about-text h2 {
    font-size: 3rem;
}

.about-text p {
    font-size: 1.2rem;
    color: var(--light-yellow);
}

.about-text button {
    width: 180px;
    height: 50px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: var(--yellow);
    margin-top: 30px;
}

.about-text button:hover {
    background-color: var(--light-yellow);
    transition: all ease 1s;
}

/* ----- sekcja z usługami ----- */

#services {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    font-family: Calibri, sans-serif;
    background-color: var(--dark);
    color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.s-heading {
    text-align: center;
    margin: 20px 0px;
}

.s-heading h1 {
    color: var(--yellow);
    font-size: 5rem;
}

.b-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-heading p {
    color: var(--light-yellow);
}

.s-box {
    width: 400px;
    height: 500px;
    background-color: var(--light-yellow);
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.s-b-img {
    width: 100%;
    height: 70%;
}

.s-b-img img {
    width: 100%;
    height: 100%;
}

.s-type {
    font-family: calibri, sans-serif;
    background-color: var(--dark);
    font-size: 18px;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 10px 10px;
}

.s-b-text p {
    font-size: 1.1em;
    color: var(--dark);
    text-align: center;
    padding: 0 10px;
}

/*
.s-box:hover {
    transform: translateY(-20px);
    transition: all ease .5s;
}
*/

/* ----- sekcja portflio ----- */

#portfolio {
    width: 100%;
    height: 100vh;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    background-color: var(--dark);
    justify-content: space-between;
    padding: 0 5%;
    background-color: var(--dark);
}

.portfolio-text {
    width: 50%;
    color: var(--light);
    font-family: Calibri, sans-serif;
}

.portfolio-text h1 {
    color: var(--yellow);
    letter-spacing: 1px;
    padding: 2px;
    font-size: 5rem;
}

.portfolio-text h2 {
    font-size: 3rem;
}

.portfolio-text p {
    font-size: 1.2rem;
    color: var(--light-yellow);
}

/* ----- sekcja kontaktu ----- */

#contact {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15%;
    box-sizing: border-box;
    background-color: var(--dark);
}

/* tekst */

.contact-text {
    width: 50%;
    color: var(--light);
    font-family: Calibri, sans-serif;
}

.contact-text h1 {
    color: var(--yellow);
    font-size: 5rem;
}

.contact-text h2 {
    font-size: 1.5rem;
}

.contact-text p {
    font-size: 1.2rem;
    padding: 20px;
    padding-left: 35px;
    color: var(--light-yellow);
}

.contact-social {
    padding: 20px;
    left: 50px;
    bottom: 50px;
}

.contact-social a {
    margin: 0 15px;
    color: var(--light-yellow);
}

.contact-social a:hover {
    color: var(--yellow);
    transition: all ease 1s;
}

/* message form */

.contact-container {
    border-radius: 5px;
    background-color: var(--graphite);
    padding: 30px;
    margin-top: 100px;
}

.contact-container label {
    font-family: Calibri, sans-serif;
    font-size: 15px;
    color: var(--light-yellow);
}

.contact-name {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--dark);
    font-family: Calibri, sans-serif;
    font-size: 15px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

.contact-email {
    padding: 12px;
    width: 100%;
    border: 1px solid var(--dark);
    font-family: Calibri, sans-serif;
    font-size: 15px;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

.contact-message {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--dark);
    font-family: Calibri, sans-serif;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

.contact-btn {
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--light-yellow);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
}

.contact-btn:hover {
    background-color: var(--dark);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}